header{
    position: fixed;
    display:flex;
    justify-content: center;
    width: 100vh;
    height: 30px;
    top: 0;
    align-items: center;
    z-index: 1;
    opacity: 0.8;
    padding:10px;
}

nav{
    display: flex;
    justify-content: center;
}
nav ul{
    list-style: none;
    font-size: medium;
    padding: 0;
    margin: 0;
    display:flex;
    gap:10px;
    
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:hover{
    background-color: black;
    text-decoration: underline;
}

body{
    background-color: pink;
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 12px solid black;
    margin-top: 55px;
}

.black {
    background-color: black;
    height: 100px;
    width: 100px;
}
.white {
    background-color: white;
    height: 100px;
    width: 100px;
}



