/* this is the CSS for the flag starting now */

.bodyamericanflag {
    background-color: bisque;
}   

.americanflag {
    width: 90vw;
    background-color: white;
    position: absolute;
    left: 0px;
    margin:0px;
    top:0;
    max-width: 1000px;
}

.americanflag td {
    height: 40px;
}

.red {
    background-color: red;
}

.w {
    background-color: white;
}

img {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 400px;
} 
